@font-face
{
    font-family: 'foxsn';
    src: url('../polices/foxsn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body
{
	margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('../images/page.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}
#bloc_page
{
    
}

h1 
{
    color:  white;
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    font-family: 'foxsn';

}

#intro
{
	color:  white;
    text-align: center;
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'foxsn';
    

}
#support
{
	color:  white;
	text-align: center;
	font-size: 30px;
	font-family: 'foxsn';
	padding: 20px;

	border-top: 2px groove white;
    border-bottom: 2px groove white;
    border-radius: 10px;

}
#support a
{
	 color:  white;
	 text-align: center;
	 font-size: 30px;
	 font-family: 'foxsn';
	 text-decoration: none;


}
#support a:hover {
     background-color: black;
     color: grey;
     text-decoration: underline;
}
#bloc
{
     
     width: 50%;
     display: table;
     margin: 0 auto;

}

.topnav {
  position: relative;
  background-color: black;
  overflow: hidden;
  font-family: 'foxsn';
  border-top: 2px groove white;
  border-bottom: 2px groove white;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: grey;
  text-decoration: underline;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: 'foxsn';
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  font-family: 'foxsn';
  margin-right: 30px;
}
footer
{
	color:  white;
	text-align: center;
	font-size: 20px;
	font-family: 'foxsn';
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 700px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
